body{
  display: block;
  min-width: 400px;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color:#202124;
  background: #fff;
}

.Up {
  height: 50%;
  display:flex;
  justify-content:flex-end;
  align-items:flex-start;
  padding: 6px 6px 6px 6px;
  min-width: 60px;
  flex-shrink: 0;
  box-sizing: border-box;
}
.Top {
  display:flex;
  min-height: 48px;
  width: 219px;
  padding: 0 4px;
  justify-content:space-around;
  /*vertical-align: middle;
  white-space: nowrap;
  -webkit-box-align: center;*/
}

.Main {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}

.footer1 {
  display:block;
  justify-content:center;
  align-items:flex-end;
  position: absolute;
  bottom:0;
  width:100%
}
